<div class="__title"> {{ title }} </div>
<div class="__input input">
  <input type="{{ inputType }}" placeholder="{{ placeholder }}" value="{{ value }}"/>
</div>
<div class="__button button touchable"> {{ button }} </div>
